<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zym.memorymaster">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".base.MyApplication"
            android:theme="@style/AppTheme">
        <activity android:name=".views.concrete_views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.concrete_views.FirstWelcomActivity"/>
        <activity android:name=".views.concrete_views.LoginActivity"/>
        <activity android:name=".views.concrete_views.RegActivity"/>
        <activity android:name=".views.concrete_views.HomeActivity"/>
        <activity android:name=".views.concrete_views.BookDetailActivity"/>
    </application>

</manifest>